.section-advantages {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 232px;
}

.advantages__title {
    font-family: var(--merriweather);
    font-weight: 700;
    font-size: 36px;
    line-height: 45.25px; 
    color: var(--black);
}

.advantages__box-blocks {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 48px;

}

.advantages {
    display: flex;
    flex-direction: column;
    width: 386px;
    margin-right: 15px;
    margin-top: 60px;
 }

 .advantages__image-doublesquare {
    width: 32px;
    height: 32px;
 }

 .advantages__image-books {
    width: 32px;
    height: 32px;

 }
 
.advantages__image-magnifying {
    width: 32px;
    height: 32px;
}

.advantages__container-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 66.67px;
}

.advantages__sub-title {
    width: 386px;
    margin-bottom: 24px; 
    font-family: var(--merriweather);
    font-weight: 700;
    font-size: 22px;
    line-height: 27.65px;
 }

 .advantages_text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 992px){
    .section-advantages {
       margin-top: 130px;
       padding-left: 40px;
       padding-right: 40px;
    }
    .advantages__title {
       font-size: 25px;
    }
    .advantages {
        margin-top: 40px;
     }
}
@media (max-width: 768px) {
    .advantages__title {
        text-align: center;
     }  
    .advantages__box-blocks {
      flex-direction: column;
      align-items: center;
    }
}

@media (max-width: 576px) {
    .advantages {
       width: 200px;
    } 
}