.footer {
    display: flex;
    flex-direction: column;
    background: var(--light);
    padding-left: 103px;
    padding-right: 110px;
    margin-top: 251px;
    padding-bottom: 63px;
}

.footer__block {
    display: flex;
    margin-top: 96px;
    margin-bottom: 85px;
}

.footer__block-titles {
    display: flex;
    flex-direction: column;
    width: 304px;
}

.footer__sub-title {
    font-family: var(--merriweather);
    font-weight: 700;
    font-size: 24px;
    line-height: 30.17px; 
    color: var(--black);
}

.footer__title {
    margin-top: 16px;
    font-family: var(--merriweather);
    font-weight: 700;
    font-size: 48px;
    line-height: 60.34px; 
    color: var(--black);
}

.footer__box {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding-left: 157px;
    flex-wrap: wrap;
}

.footer__sub-titles {
    margin-bottom: 24px;
    font-family: var(--merriweather);
    font-weight: 700;
    font-size: 18px;
    line-height: 22.63px; 
    color: var(--black);
}

.footer__list {
    margin-bottom: 24px;
    font-family: var(--montserrat);
    font-weight: 400;
    font-size: 14px;
    line-height: 17.07px; 
    color: var(--black);
}

.footer__navigation {
    display: flex;
    justify-content: space-between;
}

.vertical-row {
    border: 1px solid #000000;
    opacity: 20%;
    margin-bottom: 28px;
}

.footer__navigation-text {
    font-family: var(--montserrat);
    font-weight: 400;
    font-size: 14px;
    line-height: 17.07px; 
    color: var(--black);
}

.footer__navigation-list {
   display: flex;
}

.footer__text {
    padding-left: 48px;
    font-family: var(--montserrat);
    font-weight: 400;
    font-size: 14px;
    line-height: 17.07px; 
    color: var(--black);
}