$colors: (orange: #F78065, white: #FFFFFF, black: #000000, light-gray: #CCCCCC,dark-purple: #3F3D56, dark-gray: #848484, light: #F7F7F7);
$font-montserrat: ('Montserrat', sans-serif);
$font-merriweather: ('Merriweather', serif);
$breakpoint-x-x-large: 1400px;
$breakpoint-x-large: 1200px;
$breakpoint-large: 992px;
$breakpoint-medium: 768px;
$breakpoint-small: 576px;