.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: get;
  padding-left: 103px;
  padding-right: 110px;
  margin-top: 251px;
  padding-bottom: 63px;
  padding-top: 48px;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 48px;
  padding-bottom: 85px;
}

.footer__block-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 304px;
}

.footer__sub-title {
  font-family: var(--merriweather);
  font-weight: 700;
  font-size: 24px;
  line-height: 30.17px;
  color: var(--black);
}

.footer__title {
  margin-top: 16px;
  font-family: var(--merriweather);
  font-weight: 700;
  font-size: 48px;
  line-height: 60.34px;
  color: var(--black);
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 157px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__sub-titles {
  margin-bottom: 24px;
  font-family: var(--merriweather);
  font-weight: 700;
  font-size: 18px;
  line-height: 22.63px;
  color: var(--black);
}

.footer__list {
  margin-bottom: 24px;
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 14px;
  line-height: 17.07px;
  color: var(--black);
}

.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vertical-row {
  border: 1px solid #000000;
  opacity: 20%;
  margin-bottom: 28px;
}

.footer__navigation-text {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 14px;
  line-height: 17.07px;
  color: var(--black);
}

.footer__navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__text {
  padding-left: 48px;
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 14px;
  line-height: 17.07px;
  color: var(--black);
}

@media (max-width: 1200px) {
  .footer__container-lists {
    margin-right: 15px;
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  .footer {
    margin-top: 150px;
    padding: 40px;
  }
  .footer__box {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .footer__title {
    font-size: 38px;
    margin-bottom: 30px;
  }
  .footer__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  .footer__block-titles {
    width: 562px;
  }
  .footer__box {
    padding-left: 0;
    margin-left: 0;
  }
  .footer__container-lists {
    margin-bottom: 10px;
  }
  .vertical-row {
    margin-top: 10px;
  }
  .footer__navigation {
    display: block;
  }
  .footer__navigation-list {
    display: none;
  }
}
/*# sourceMappingURL=footer.css.map */