
.section-info {
    display: flex;
    justify-content: space-between; 
    padding-left: 119px;
    margin-top: -130px;
    flex-wrap: wrap;
  
}

.info {
   display: flex;
   flex-direction: column;
   width: 386px;
   margin-right: 10px;
   margin-top: 60px;
 } 

.info-image__place {
   width: 247.5px;
   height: 180px;
}

.info-text__container {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
} 

.info__title {
    font-family: var(--merriweather);
    font-weight: 700;
    font-size: 24px;
    line-height: 30.17px; 
    margin-bottom: 18px ;
}

.text {
   font-family: var(--montserrat);
   font-weight: 500;
   line-height: 19.5px;
   font-size: 16px;
   color:var(--dark-gray); 
}

.text--bold {
   font-family: var(--montserrat);
   font-weight: 700;
   font-size: 18px;
   line-height: 21.94px;
   margin-top: 18px;
}

.text--orange {
   color: var(--orange);
}

.info-image__map {
   width: 222.82px;
   height: 180px; 
}

.info-image__destination {
   width: 252.89px;
   height: 180px;
}

@media (max-width: 992px){
   .section-info{
      margin-top: 30px;
      padding-left: 40px;
      padding-right: 40px;
   }
   .info-text__container {
      margin-top: 32px;
    }
}

@media (max-width: 768px) {
   .section-info {
      justify-content: space-around;
   }

   .info {
      width: 300px;
   }  
}