.section-description {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    margin-top: 253px;
}

.description__title {
    width: 758px;
    font-family: var(--merriweather);
    font-weight: 700;
    font-size: 36px;
    line-height: 45.25px; 
    color: var(black);
}

.description__box-blocks {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 102px;
    margin-top: 108px;
}

.description {
   display: flex;
   flex-direction: column;
   width: 275px;
   margin-right: 15px;
   margin-bottom: 31px;
}

.description-image__checks {
    width: 32px;
    height: 32px;
}

.description__container-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 66.33px;
}

.descrition__sub-title {
   width: 256px;
   margin-bottom: 31px;
   font-family: var(--merriweather);
   font-weight: 700;
   font-size: 22px;
   line-height: 27.65px;
}

.description__text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description-image__spell {
    width: 32px;
    height: 32px;
}

.description-image__frame {
    width: 32px;
    height: 32px;
}

.description-image__calendar {
    width: 32px;
    height: 32px;
}