.section-description {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    margin-top: 253px;

}

.description__title {
    width: 758px;
    font-family: var(--merriweather);
    font-weight: 700;
    font-size: 36px;
    line-height: 45.25px; 
    color: var(black);
}

.description__box-blocks {
    display: flex;
    justify-content: space-between;
    padding-right: 102px;
    margin-top: 108px;
}

.description {
   display: flex;
   flex-direction: column;
   width: 386px;
   margin-right: 15px;
}

.description-image__checks {
    width: 32px;
    height: 32px;
}

.description__container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.descrition__sub-title {
   width: 256px;
   margin-bottom: 31px;
   margin-top: 69.33px;
   font-family: var(--merriweather);
   font-weight: 700;
   font-size: 22px;
   line-height: 27.65px;
}

.description-image__spell {
    width: 32px;
    height: 32px;
}

.description-image__frame {
    width: 32px;
    height: 32px;
}

.description-image__calendar {
    width: 32px;
    height: 32px;
}