
.info__section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 400px;
    padding-left: 50px;
    padding-right: 81px;
}

.info {
   display: flex;
   flex-direction: column;
   width: 386px;
 } 

.info-image__place {
   width: 247.5px;
   height: 180px;
}

.info-text__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4rem;
    width: 386px;
} 

.info__title {
    font-family: var(--merriweather);
    font-weight: 700;
    font-size: 24px;
    line-height: 30.17px; 
    margin-bottom: 18px ;
}

.text {
   font-family: var(--montserrat);
   font-weight: 500;
   line-height: 19.5px;
   font-size: 16px;
   color:var(--dark-gray); 
}

.text--bold {
   font-family: var(--montserrat);
   font-weight: 700;
   font-size: 18px;
   line-height: 21.94px;
   margin-top: 18px;
}

.text--orange {
   color: var(--orange);
}

.info-image__map {
   width: 222.82px;
   height: 180px; 
}

.info-image__destination {
   width: 252.89px;
   height: 180px;
}
