
.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 550px;
    margin-top: 300px;
    /* border: 1px solid blueviolet; */
}

.info__camper {
    display: flex;
    width: 386px;
    height: 460px;
    flex-direction: column;
}

.info-camper__image {
   display: flex;
   flex-direction: column;
   width: 247.5px;
   height: 180px;
}

.info-camper__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end ;
    flex-direction: column;
    margin-top: 4rem;
    width: 386px;
    height: 211px;
} 

.info__title {
    font-family: var(--font-stardard);
    font-weight: 700;
    font-size: 24px;
    line-height: 30.17px; 
}

.info__text {
   font-family: var(--font-main);
   font-weight: 500;
   line-height: 19.5px;
   font-size: 16px;
   color:var(--color6);
}

/* .info__text--orange {
   font-family: var(--font-main);
   font-weight: 700;
   font-size: 18px;
   line-height: 21.94px;
   color: var(--color1);
   margin-top: 18px; */


.text {
   font-family: var(--font-main);
   font-weight: 700;
   font-size: 18px;
   line-height: 21.94px;
   /* margin-top: 18px; */
}

.text--orange {
   color: var(--color1);
   font-weight: 700;
   font-family: var(--font-main);
   font-size: 18px;
   line-height: 21.94px;

    
}

.info__map {
   display: flex;
   width: 386px;
   height: 224px;
   flex-direction: column;
}

.info-map__image{
   display: flex;
   flex-direction: column;
   width: 222.82px;
   height: 180px; 
}

.info-map__text {
    margin-top: 64px;
}

.info__destination {
   display: flex;
   width: 386px;
   height: 224px;
   flex-direction: column;
}

.info-destination__image {
   display: flex;
   flex-direction: column;
   width: 252.89px;
   height: 180px;
}

.info-destination__text {
    margin-top: 64px;
}