@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root {
    --color1: #F78065;
    --color2: #FFFFFF;
    --color3: #000000;

    --font-main: 'Montserrat', sans-serif;
    --font-stardard: 'Merriweather', serif;    
}


.backdrop {
    background: url("img/foto-p.png") center/cover;
    max-width: 1440px;
    height: 650px;
    /* position: relative; */
    display: block;
    padding: 0;
    box-sizing: border-box;
    /* display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px; */
    display: flex;
    width: 100%;

}

.backdrop__login {
    background-color: var(--color2);
    height: 53px;
    width: 86px;
    left: 1234px;
    top: 30px;
    border-radius: 26.5px;
    position: relative;
    z-index: 2;
    border: var(--color2);
}

.backdrop__img {
    position: absolute;
    display: inline-block;
    height: 32px;
    width: 32px;
    left: 2rem;
    padding: 0.60rem;
    right: -30px;  
}

.backdrop__icon {
    display: inline-block;
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
}

.box {
    position: absolute;
    background-color: var(--color2);
    color: var(--color3);
    width: 741px;
    height: 537px;
    /* margin-top: px; */
    left: 63px;
    /* padding: 60px 60px 60px 45px; */
    top: 384px;
    text-shadow: darkgray;
    border: 1px solid purple;
}
/* 
.box__area {    
    font-family: var(--font-stardard);
    font-size: 18px;
    line-height: 49px;
    text-align: left;
} */

.box__title {
    margin: 0;
    font-family: var(--font-stardard);
    font-size: 39px;
    line-height: 49,02px;
    top: 480px;
    padding: 96px 156px 294px 64px;
}


.box__letter {
    color: var(--color1);
}


.box__loren {
    font-family: var(--font-main);
    display: flex;
    justify-content: left;                            
    /* color: var(--color3); */
    font-size: 20px;
    width: 515px;
    height: 96px;
    top: 656px;
    /* left: 127px; */
    font-style: normal;
    line-height: 24px;
    padding: 272px 162px 169px 64px;
    border: 1px solid red;
    padding: 29px;
   
}


.box__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color1);
    color: var(--color2);
    /* font: var(--font-stardard); */
    size: 24px;
    height: 55px;
    width: 226px;
    left: 125px;
    /* top: 781px; */
    padding: 12px, 24px, 12px, 16px;
    align-items: center;
    border: var(--color1);
    margin-top: 29px;
}

.box__img {
    height: 24px;
    width: 24px;
   display: flex;
   margin-right: 8px;
}

.box__text {
    font-family: var(--font-main);
    width: 72px;
    height: 23px;
    top: 21px;
    left: 101px; 
}

.box__title {
    border: 1px solid yellow;
    /* margin-left: ; */
    font-family: var(--font-stardard);
    font-weight: 700;
    size: 39px;
    line-height: 49,02px;
    font-style: bold;
    
}