@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100;800&display=swap');

:root {
    --color1: #F78065;
    --color2: #FFFFFF;
    --color3: #000000;

    --font-padrao: 'Montserrat', sans-serif;
    --font-loren: 'Merriweather', serif;    
}

.img {
    background: url("img/foto-p.png") center/cover;
    /* width: 98.7vw; */
    /* height: 120vh; */
    height: 550px;
    position: relative;
    display: block;
    padding: 0;
}

.space-login {
    background-color: var(--color2);
    height: 53px;
    width: 86px;
    left: 1000px;
    top: 80px;
    border-radius: 26.5px;
    position: relative;
    z-index: 2;
    right: 122px;  
}

.login-img {
    height: 32px;
    width: 32px;
    /* left: 2rem; */
    top: 0px;
    border-radius: 0px;
    padding: 0.60rem;
    right: -30px;
}

.title {
    /* font-family: var(--font-padrao); */
    font-family: ' Merriweather';
    font-size: 18px;
    /* font-style: ; */
    /* font-weight: 900; */
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    /* padding-top:0px; */
    /* margin-top: 50px; */
}

.text-area {
    position: absolute;
    background-color: var(--color2);
    color: var(--color3);
    width: 430px;
    height: 240px;
    top: 300px;
    left: 40px;
    padding: 90px;
    margin: auto;
    /* border: 1px solid violet; */
}

.letter {
    color: var(--color1);
}

.text {
    font-family:var(--font-loren);
    /* position: relative; */
}

.first-loren {
    font-family: var(--font-loren);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
}

.button {
    display: flex;
    align-items: center;
    background: var(--color1);
    color: var(--color2);
    font: var(--font-loren);
    line-height: 30,17px;
    size: 24px;
    height: 55px;
    width: 230px;
    left: 120px;
    top: 781px;
    padding: 12px, 24px, 12px, 16px;
}

.img-globo {
    height: 24px;
    width: 24px;
    
}

.title {
    /* border: 1px solid yellow; */
    
}